* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8998a6; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8b0b6b;
} 
  .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
   
    .one {
    display: flex; 
    gap: 5px;
    background-color: rgb(106, 101, 94);
    padding: 5px; 
    width: 100%;
    border-radius: 5px;
    grid-column: 1;
    align-items: center;} 
    

   .ore {
    width: 355px;
    height: auto;
    border-radius: 100px;
    object-fit: cover; 
    background-color: transparent; 
    transition: 0.3s;
    transform:rotate3d(120) } 
    .head { font-family: Georgia, 'Times New Roman', Times, serif;
    }
    h1 {
    font-size: 1.8rem;
    color: rgb(78, 48, 105);
    line-height: 1.3;}
   h1:hover { 
    color: rgb(94, 20, 20); }

.kk {
    display: grid;
    gap: 10px;  
      background-color: rgb(170, 136, 136);
    padding: 15px;
    border-radius: 8px;
    margin-top: 5px; 
    flex: 0 0 40%;
    width: calc(50% -10px);
    grid-template-columns:}

.kk a {
    display: flex; 
    gap: 8px;
    width: 100%;
    flex: 0 0 50%; 
    margin-right: 55%;
    align-items: center;
    text-decoration:#540441  underline; 
    color: rgb(32, 77, 86); 
    height: 60px;
    box-sizing: border-box;
    padding: 10px;}

.kk a:hover{
    color: rgb(130, 26, 88); }
.kk img {
    width: 80px;
    height: auto;
    border-radius:7px;
} 
.kk h5 {
    font-size: 0.9rem;}

    
.ool {
    background-color: rgb(149, 125, 108);
    padding: 15px; 
    width: calc(50% -10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    flex: 0 0 40%;  
    box-sizing: border-box;
    margin-right: 0;
    padding: 10px;
    gap: 10px;
} 
.kk, .ool{
    flex: 1;
    padding: 15px;
    border-radius: 8px;}

 .ool h4 {
    margin-bottom: 5px;
}

.ool a {
    text-decoration: none;
    color: rgb(51, 81, 22);
}

.ool a:hover {
    color: rgb(94, 36, 7);
}


.breaker{
     flex-basis: 100%;
  height: 0;
} 
.kontainer { 
display: flex;
grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
}
.yor { 
    display: grid;
 flex: 0 0 0 25%; 
  box-sizing: border-box; 
  width:300px;   
        height: 300px;  
        length: 300px;
        padding-top: 20px; 
        padding-right: 5px; 
        padding-left: 20px;
        padding-bottom: 2px;
}
.yor p {
        color: #085194;
    }
    .yor img {  width: 200px;
                height: 200px;
                 }

.ol {
    background-color: rgb(132, 108, 109);
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    width: 95%;
 flex: 0 0 25%; 
  box-sizing: border-box;

}   
.ol h4 { color: #085194;
    font-family: 'Courier New', Courier, monospace;
}
.ol h4:hover { color: #382d33;

}
.ol p:hover { color: rgb(18, 154, 50) ;}
.bh {
    color: #003b30;
}
.u { 
    background-color: rgb(13, 114, 92);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px; 
    width: 100%;
    height: 100%;
   flex: 0 0 25%; 
  box-sizing: border-box;  }

.u h4 { font-family: 'Courier New', Courier, monospace;
    color: rgb(36, 84, 84);
}  
.u h4:hover {
color: #5bdd1f;

}
.u:hover {
    color: rgb(214, 140, 140);} 
    
.uuu {
    background-color: rgb(73, 97, 98);
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    width: 100px; 
    flex: 0 0 25%;   
    box-sizing: border-box;
} 
.uuu h4 { font-family:'Courier New', Courier, monospace;
    color: hsl(208, 84%, 49%);
}  
.uuu h4:hover {
    color: #5bdd1f;
}
.uuu p {
    color: #720f0f;
} 
.uuu p:hover {
    color: yellowgreen;
}

.subscribe {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #aaa; 
    background-color: rgb(5, 72, 69);

}
    
.subscribe input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #df4040;
}

.subscribe button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color: rgb(76, 53, 98);
    color: rgb(162, 221, 54);
    cursor: pointer;
}  
.subscribe p {
    color: #44b60f;
}


footer {
    background-color: rgb(36, 19, 41); 
    color: rgb(16, 112, 112); 
    text-align: center;
    width: 100%;

}

.p footer {
    text-align: center;
}
.subscribe button:hover {
    background-color: rgb(225, 64, 64);
}

@media (max-width: 450px) 
{ body {
        background-color: #bde9f1;
    }}

    @media (max width: 800px ) 
    { body {background-color: #906686;} }
   
    @media (max-width: 1300px) 
    { body { background-color: #7c8777; } }


  { .container {  grid-template-columns: 1fr; }
   
   
        .kk a {
        flex-direction: column;
        align-items: flex-start; }

    .kk img { width: 100%}  



        
        (brb to make column responsive)
        